{% extends "base.html" %}

{% block main_content %}

    <section id = "cart">
        {% if cart %}
            <section>
                <h2>My Cart</h2>
                <table id = "cart_table">
                    <tr>
                        <th>Product Name</th>
                        <th>Price</th>
                        <th>Size</th>
                        <th>Quantity</th>
                        <th></th>
                    </tr>
         
                    {% for product_id in cart %}
                        {% for size in session["cart"][product_id] %}  
                            <tr>
                                {% set quantity = session["cart"][product_id][size] %}
                                {% set cost = (productInfo[product_id][1] * quantity) | round(2) %}
                                <td>{{productInfo[product_id][0]}}</td>
                                <td>&euro;{{cost}}</td>
                                <td>{{size}}</td>
                                <td>{{quantity}}</td>
                                <td class = "visible"><a href = "{{ url_for('remove_from_cart', product_id = product_id, size = size)}}">Remove</a></td>
                            </tr>
                        {% endfor %}
                    {% endfor %}


                </table>
            </section>
            
            
            <section id = "checkout">
                <table>
                    <tr>
                        <th colspan="2">Checkout</th>
                    </tr>
                    <tr>
                        <th>Subtotal</th>
                        <td>&euro;{{subTotal}}</td>
                    </tr>
                    <tr>
                        <th>Shipping</th>
                        <td>&euro;{{delivery}}</td>
                    </tr>
                    <tr>
                        <th>Total</th>
                        <td>&euro;{{total}}</td>
                    </tr>
                </table>
            
                <p><a class = "button" href="{{url_for('order_products')}}">Buy</a></p>

            </section>
                
        {% else %}

            <section>
                <p>Your Cart Is Empty!!!</p>
                <p class = "visible">Visit our <a href = "{{ url_for('shop') }}">shop</a> to view our products.</p>
            </section>

        {% endif %}
    </section>
{% endblock %}