{% extends "base.html" %}

{% block main_content %}
    <section id = "reviews">
        <form action = "" method = "POST" novalidate>
            {{form.hidden_tag()}}

            <h2>Leave A Review</h2>

            <section>
                {{form.review.label}}
                {{form.review(placeholder = "Enter Your Review Here")}}
                <br/>
                {% for error in form.review.errors %} 
                    {{error}}
                {% endfor %}
            </section>
            
           <section>
                {{form.rating.label}}
                {{form.rating()}}
                <br/>
                {% for error in form.rating.errors %} 
                    {{error}}
                {% endfor %}
           </section>

           {{form.submit()}}
        </form>

        <section id = "review_grid">
            <h2>Reviews of Product ID: {{product_id}}</h2>
            {% if reviews %}
                {% for review in reviews %}
                    <section>
                        <h3>{{review["username"]}} on {{review["date_of_review"]}}</h3>
                        <p>Rating: {{review["rating"]}}/5</p>
                        <p>Review:{{review["review"]}}</p>
                    </section>
                {% endfor %}
            {% else %} 
                <p>There are no reviews of this product at the moment.</p>  
            {% endif %}
            
        </section>

    </section>
   
{% endblock %}